h2 {
    font-weight: bold;
}

#root {
    height: 100vh;
    width: 100vw;
}

#App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#Inputs {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    place-content: center;
    align-self: center;
    justify-self: self-end;
}

#inputsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80%;
    width: 100%;
    text-align: center;
}

.inputArea {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5%;
    padding-top: 5%;
}

#inputAreaEducationInfoContainer {
    width: 50%;
    align-self: center;
}
#inputAreaWorkInfoContainer {
    width: 50%;
    align-self: center;
}
#basicInputsContainer {
    border: solid 1px #d5d5d5;
}

#educationInputsContainer {
    border-bottom: solid 1px #d5d5d5;
    border-left: solid 1px #d5d5d5;
    border-right: solid 1px #d5d5d5;
}

#workExperienceInputsContainer {
    border-bottom: solid 1px #d5d5d5;
    border-left: solid 1px #d5d5d5;
    border-right: solid 1px #d5d5d5;
}

.input {
    align-self: center;
    text-align: center;
    background: rgb(247, 247, 247);
    background: linear-gradient(
        0deg,
        rgba(247, 247, 247, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    border: solid 1px #d5d5d5;
    border-radius: 5px;
}

.entryInputArea {
    display: flex;
    flex-direction: column;
    border: solid 1px #d5d5d5;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.entryDeleteBtn {
    padding: 4px;
    align-self: flex-end;
    position: absolute;
}

button {
    background: rgb(247, 247, 247);
    background: linear-gradient(
        0deg,
        rgba(247, 247, 247, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    border: solid 1px #d5d5d5;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#CV {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    height: 80%;
    width: 70%;
    justify-self: self-start;
    align-self: center;
    border: solid 1px #d5d5d5;
}

#basicInfoContainer {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    width: 100%;
    align-self: center;
    align-items: center;
}

#nameContainer {
    font-size: 30px;
    margin-bottom: 10px;
    grid-column: 1;
    text-align: center;
    font-weight: bold;
}

#basicInfoExtraContainer {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 50%;
    place-content: space-evenly;
    align-items: flex-end;
}

.basicInfoExtraContainerItem {
    display: flex;
    width: 200px;
}

svg {
    margin-right: 5%;
}

#emailContainer {
    grid-row: 1;
    grid-column: 2;
}

#phoneNumberContainer {
    grid-row: 2;
    grid-column: 3;
}

#websiteContainer {
    grid-row: 3;
    grid-column: 3;
}

#educationInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 100%;
    border-top: solid 1px #d5d5d5;
    padding-top: 15px;
}

.entryContainer {
    width: 50%;
    border-bottom: solid 1px #d5d5d5;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 17px;
}

#workExperienceInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 100%;
    border-top: solid 1px #d5d5d5;
    padding-top: 15px;
}
